<footer>
    <div class="footer">
        <div class="footer--panel">
            <div class="bizCard">
                <div class="bizCard--logoContainer">
                    <a href="/">
                        <img class="bizCard--logo" src="/img/logo-gold-border.svg">
                    </a>
                    <div class="u-onlyMobile">
                        <a class="btnLink" href="mailto: bampteamad@gmail.com">Contact</a><br><br>
                        <a class="btnLink btnLink-red" href="https://donorbox.org/bay-area-mural-donations">Donate</a>
                    </div>
                </div>
                <p class="bizCard--title">BAY AREA MURAL PROGRAM</p>
                <p class="bizCard--address u-onlyDesktop">
                    3463 San Pablo Ave. <br>
                    Oakland, CA 94608 <br>
                    (510) 965-5315
                </p>
                <p class="bizCard--address u-onlyMobile">
                    3463 San Pablo Ave., Oakland, CA 94608 <br>
                    (510) 965-5315
                </p>
                <p class="bizCard--501c3">A 501(c)(3) Non-Profit Organization</p>
            </div>
        </div>

        <hr class="footer--rule">

        <div class="footer--panel">
            <nav class="footerNav">
                <div class="footerNav--column">
                    <a class="footerNav--link" href="artwork">Artwork</a>
                    <a class="footerNav--link" href="about_us">About Us</a>
                    <a class="footerNav--link" href="events">Events</a>
                    <a class="footerNav--link" href="https://www.thebamp.org/shop">Shop</a>
                    <span class="u-onlyDesktop"><a class="btnLink" href="mailto: bampteamad@gmail.com">Contact</a></span>
                </div>
                <div class="footerNav--column">
                    <a class="footerNav--link" href="services">Services</a>
                    <a class="footerNav--link" href="get_involved">Get Involved</a>
                    <a class="footerNav--link" href="programs">Programs</a>
                    <a class="footerNav--link">&nbsp;</a> <!-- spacer -->
                    <span class="u-onlyDesktop"><a class="btnLink btnLink-red" href="https://donorbox.org/bay-area-mural-donations">Donate</a></span>
                </div>
            </nav>
        </div>

        <hr class="footer--rule">

        <div class="footer--panel">
			{{ partial "newsletter-form" . }}
        </div>
    </div>

    <div class="subFooter">
        {{ partial "social-icon" (dict "src" "mail.svg"      "link" "mailto:bampteamad@gmail.com") }}
        {{ partial "social-icon" (dict "src" "instagram.svg" "link" "https://www.instagram.com/bayareamuralpro/") }}
        {{ partial "social-icon" (dict "src" "facebook.svg"  "link" "https://www.facebook.com/TheBamp.org") }}
        {{ partial "social-icon" (dict "src" "youtube.svg"   "link" "https://www.youtube.com/channel/UCJTS2t_Ud1ovJnftAyBqs-A") }}
        {{ partial "social-icon" (dict "src" "linkedin.svg"  "link" "https://www.linkedin.com/company/bayareamuralprogram/") }}
        {{ partial "social-icon" (dict "src" "yelp.svg"      "link" "https://www.yelp.com/biz/the-bay-area-mural-program-oakland") }}

        <p class="subFooter--copyright">© 2021 Bay Area Mural Program</p>
    </div>
</footer>
