<head>

    <meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

    <title>{{ .Title }} | {{ $.Site.Title }}</title>

    {{ $stylesheet := .Site.Data.webpack.main }}
    {{ with $stylesheet.css }}
        <link href="{{ relURL . }}" rel="stylesheet">
    {{ end }}

    <base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">

    <!-- TODO: Favicons -->
        <!-- <link rel="apple&#45;touch&#45;icon" sizes="180x180" href="/img/apple&#45;touch&#45;icon.png"> -->
        <!-- <link rel="icon" type="image/png" href="/img/favicon&#45;32x32.png" sizes="32x32"> -->
        <!-- <link rel="icon" type="image/png" href="/img/favicon&#45;16x16.png" sizes="16x16"> -->
        <!-- <link rel="manifest" href="/manifest.json"> -->
        <!-- <link rel="mask&#45;icon" href="/img/safari&#45;pinned&#45;tab.svg" color="#ff4400"> -->
        <!-- <meta name="theme&#45;color" content="#fff"> -->

    <!-- TODO: Open Graph -->
        <!-- <meta property="og:type" content="business.business"> -->
        <!-- <meta property="og:title" content="Kaldi | Great coffee with a conscience"> -->
        <!-- <meta property="og:url" content="/"> -->
        <!-- <meta property="og:image" content="/img/og&#45;image.jpg"> -->

    {{ if .IsHome }}
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {{ end }}

</head>
