<section class="homepageHeader">

    <div class="carousel js-carousel-homepage">

        <div class="homepageHeader">
            <img class="homepageHeader--img" src="/img/homepage/city-mural.jpeg">
            <img class="homepageHeader--svg" src="/img/homepage/speech-bubble.svg">
        </div>

        <img class="homepageHeader--img" src="/img/homepage/group-photo.jpeg">
        <img class="homepageHeader--img" src="/img/homepage/mural.jpeg">
        <img class="homepageHeader--img" src="/img/homepage/sphpainting.jpeg">
        <img class="homepageHeader--img" src="/img/homepage/artists.jpeg">
        <video class="homepageHeader--img" src="videos/drone-edit-v2.mp4" style="filter: saturate(90%);" autoplay muted playsinline loop>

    </div>

</section>
