<section class="l-section">
    <div class="gridBox gridBox-col4 gridBox-col4-collapse gridBox-center">

        {{ partial "metric" (dict
            "img" "/img/homepage/metrics/painted.jpg"
            "number" "100"
            "unit" "murals painted"
        ) }}

        {{ partial "metric" (dict
            "img" "/img/homepage/metrics/empowered.jpg"
            "number" "26"
            "unit" "artists empowered"
        ) }}

        {{ partial "metric" (dict
            "img" "/img/homepage/metrics/communities.jpg"
            "number" "16"
            "unit" "communities engaged"
        ) }}

        {{ partial "metric" (dict
            "img" "/img/homepage/metrics/volunteers.jpg"
            "number" "253"
            "unit" "volunteers"
        ) }}

    </div>
</section>
