<section class="l-section">
    <div class="gridBox gridBox-col3 gridBox-center">

        {{ partial "mural-thumbnail" (dict
            "id" "blmoak"
            "img" "/img/artwork/thumbnails/blmoak.jpg"
            "location" "Downtown Oakland"
            "title" "BLM / Oakland"
        ) }}

        {{ partial "mural-thumbnail" (dict
            "id" "blmsf"
            "img" "/img/artwork/thumbnails/blmsf.jpg"
            "location" "African American Art and Culture Complex, SF"
            "title" "BLM / SF"
        ) }}

        {{ partial "mural-thumbnail" (dict
            "id" "nipsey"
            "img" "/img/artwork/thumbnails/nipsey.jpg"
            "location" "Grand Express Market, Oakland"
            "title" "Nipsey"
        ) }}

        {{ partial "mural-thumbnail" (dict
            "id" "naomais"
            "img" "/img/artwork/thumbnails/naomais.png"
            "location" "Webster Street, Oakland"
            "title" "Nao Mais"
        ) }}

        {{ partial "mural-thumbnail" (dict
            "id" "lodestar"
            "img" "/img/artwork/thumbnails/lodestar.jpg"
            "location" "Lodestar Public School, Oakland"
            "title" "Oakland Love the New Future"
        ) }}

        {{ partial "mural-thumbnail" (dict
            "id" "authoak"
            "img" "/img/artwork/thumbnails/authoak.png"
            "location" "Whole Foods Market, Oakland"
            "title" "Authentically Oakland"
        ) }}

        {{ partial "mural-thumbnail" (dict
            "id" "gateway"
            "img" "/img/artwork/thumbnails/gateway.jpg"
            "location" "Georgia Street, Vallejo"
            "title" "Gateway to Vallejo"
        ) }}

        {{ partial "mural-thumbnail" (dict
            "id" "kapor"
            "img" "/img/artwork/thumbnails/kapor.jpg"
            "location" "Kapor Center, Oakland"
            "title" "Justice for My Ancestors"
        ) }}

        {{ partial "mural-thumbnail" (dict
            "id" "farmacy"
            "img" "/img/artwork/thumbnails/digdeep.jpg"
            "location" "Dig Deep Farm, Oakland"
            "title" "The Farmacy"
        ) }}

        {{ partial "mural-thumbnail" (dict
            "id" "ahome"
            "img" "/img/artwork/thumbnails/ahome.jpg"
            "location" "Chestnut Street, Oakland"
            "title" "Everyone Deserves a Home"
        ) }}

        {{ partial "mural-thumbnail" (dict
            "id" "seer"
            "img" "/img/artwork/thumbnails/seer.jpg"
            "location" "7th Street, Oakland"
            "title" "The Seer"
        ) }}

        {{ partial "mural-thumbnail" (dict
            "id" "literacy"
            "img" "/img/artwork/thumbnails/literacy.jpg"
            "location" "MLK Elementary School, Oakland"
            "title" "Literacy Is the Key to Life"
        ) }}

        {{ partial "mural-thumbnail" (dict
            "id" "fillmore"
            "img" "/img/artwork/thumbnails/fillmore.jpg"
            "location" "Rosa Parks Center, SF"
            "title" "Spirit of the Fillmore"
        ) }}

        {{ partial "mural-thumbnail" (dict
            "id" "rooted"
            "img" "/img/artwork/thumbnails/rooted.jpg"
            "location" "Coliseum Way, Oakland"
            "title" "Rooted in Oakland"
        ) }}

        {{ partial "mural-thumbnail" (dict
            "id" "indigenized"
            "img" "/img/artwork/thumbnails/indigenized.jpg"
            "location" "Standing Rock Reservation, ND"
            "title" "Indigenized Energy"
        ) }}

        {{ partial "mural-thumbnail" (dict
            "id" "bethepower"
            "img" "/img/artwork/thumbnails/bethepower.jpg"
            "location" "East Oakland Youth Development Center"
            "title" "Be the Power"
        ) }}

        {{ partial "mural-thumbnail" (dict
            "id" "youthemp"
            "img" "/img/artwork/thumbnails/youthemp.jpg"
            "location" "22nd & Broadway, Oakland"
            "title" "Youth Empowerment"
        ) }}

        {{ partial "mural-thumbnail" (dict
            "id" "headup"
            "img" "/img/artwork/thumbnails/headup.jpg"
            "location" "19th & Broadway, Oakland"
            "title" "Keep Your Head Up / Woman in Water"
        ) }}

        {{ partial "mural-thumbnail" (dict
            "id" "sph"
            "img" "/img/artwork/thumbnails/sph.jpg"
            "location" "San Pablo Avenue, Oakland"
            "title" "San Pablo Hotel"
        ) }}

        {{ partial "mural-thumbnail" (dict
            "id" "aaacc"
            "img" "/img/artwork/thumbnails/aaacc.jpg"
            "location" "African American Art and Culture Complex, SF"
            "title" "Floral Offering"
        ) }}

        {{ partial "mural-thumbnail" (dict
            "id" "fairbanks"
            "img" "/img/artwork/thumbnails/fairbanks.jpg"
            "location" "Fairbanks Farms, Covelo"
            "title" "Fairbanks Farms"
        ) }}

    </div>
</section>
