<!-- TOOD: "awarded grant" / text for Gateway -->

{{ partial "mural-modal" (dict
    "id" "blmoak"
    "src" "/img/artwork/blmoak.jpg"
    "title" "BLM"
    "leadArtist" "Andre Jones"
    "location" "15th St. Oakland"
    "date" "July 2020"
) }}

{{ partial "mural-modal" (dict
    "id" "blmsf"
    "src" "/img/artwork/blmsf.jpg"
    "title" "BLM"
    "leadArtist" "Andre Jones"
    "location" "African American Art and Culture Complex, SF"
    "date" "July 2020"
) }}

{{ partial "mural-modal" (dict
    "id" "nipsey"
    "src" "/img/artwork/nipsey.jpg"
    "title" "Nipsey"
    "leadArtist" "Timothy B."
    "location" "Grand Express Market, Oakland"
    "date" "July 2020"
) }}

{{ partial "mural-modal" (dict
    "id" "naomais"
    "src" "/img/artwork/naomais.png"
    "title" "Nao Mais"
    "leadArtist" `Rachel Wolfe-Goldsmith, Pamela "Plum" Outten`
    "location" "Design, Draw, Build - 2866 Webster St. Oakland"
    "date" "July 2020"
) }}

{{ partial "mural-modal" (dict
    "id" "lodestar"
    "src" "/img/artwork/lodestar.jpg"
    "title" "Oakland Love the New Future"
    "leadArtist" "Rachel Wolfe-Goldsmith"
    "location" "Lodestar Public School, Oakland"
    "date" "April 2020"
) }}

{{ partial "mural-modal" (dict
    "id" "authoak"
    "src" "/img/artwork/authoak.png"
    "title" "Authentically Oakland"
    "leadArtist" "Andre Jones"
    "location" "Whole Foods Market 230 Bay Pl Oakland, CA"
    "date" "December 2018"
) }}

{{ partial "mural-modal" (dict
    "id" "gateway"
    "src" "/img/artwork/gateway.jpg"
    "title" "Gateway to Vallejo"
    "leadArtist" "BAMP"
    "location" "301 Georgia St. Vallejo, CA"
    "date" "December 2015"
) }}

{{ partial "mural-modal" (dict
    "id" "kapor"
    "src" "/img/artwork/kapor.jpg"
    "title" "Justice for My Ancestors"
    "leadArtist" "BAMP"
    "location" "Kapor Center, Oakland"
    "date" "August 2020"
) }}

{{ partial "mural-modal" (dict
    "id" "farmacy"
    "src" "/img/artwork/digdeep.jpg"
    "title" "Oakland Farming"
    "leadArtist" "Bobby Arte"
    "location" "Dig Deep Farms - 2700 Fairmont Dr. San Leandro"
    "date" "October 2019"
) }}

{{ partial "mural-modal" (dict
    "id" "ahome"
    "src" "/img/artwork/ahome.jpg"
    "title" "Everyone Deserves a Home"
    "leadArtist" "Andre Jones"
    "location" "Chestnut St., Oakland"
    "date" "November 2017"
) }}

{{ partial "mural-modal" (dict
    "id" "seer"
    "src" "/img/artwork/seer.jpg"
    "title" "The Seer"
    "leadArtist" "Rachel Wolfe-Goldsmith"
    "location" "7th Street, Oakland"
    "date" "October 2018"
) }}

{{ partial "mural-modal" (dict
    "id" "literacy"
    "src" "/img/artwork/literacy.jpg"
    "title" "Literacy Is the Key to Life"
    "leadArtist" "Andre Jones"
    "location" "MLK Elementary School, Oakland"
    "date" "March 2019"
) }}

{{ partial "mural-modal" (dict
    "id" "fillmore"
    "src" "/img/artwork/fillmore.jpg"
    "title" "Spirit of the Fillmore"
    "leadArtist" "Rachel Wolfe-Goldsmith"
    "location" "Rosa Parks Senior Center, SF"
    "date" "May 2019"
) }}

{{ partial "mural-modal" (dict
    "id" "rooted"
    "src" "/img/artwork/rooted.jpg"
    "title" "Rooted in Oakland"
    "leadArtist" "Andre Jones"
    "location" "Coliseum Way, Oakland"
    "date" "June 2019"
) }}

{{ partial "mural-modal" (dict
    "id" "indigenized"
    "src" "/img/artwork/indigenized.jpg"
    "title" "Indigenized Energy"
    "leadArtist" "Rachel Wolfe-Goldsmith, Timothy B."
    "location" "Standing Rock Reservation, ND"
    "date" "July 2019"
) }}

{{ partial "mural-modal" (dict
    "id" "bethepower"
    "src" "/img/artwork/bethepower.jpg"
    "title" "Be the Power"
    "leadArtist" "Bobby Arte"
    "location" "East Oakland Youth Development Center"
    "date" "July 2019"
) }}

{{ partial "mural-modal" (dict
    "id" "youthemp"
    "src" "/img/artwork/youthemp.jpg"
    "title" "Youth Empowerment"
    "leadArtist" "Rachel Wolfe-Goldsmith"
    "location" "22nd & Broadway"
    "date" "October 2020"
) }}

{{ partial "mural-modal" (dict
    "id" "headup"
    "src" "/img/artwork/headup.jpg"
    "title" "Keep Your Head Up: Woman in Water"
    "leadArtist" "Andre Jones"
    "location" "19th & Broadway"
    "date" "December 2020"
) }}

{{ partial "mural-modal" (dict
    "id" "sph"
    "src" "/img/artwork/sph.jpg"
    "title" "San Pablo Hotel"
    "leadArtist" `Derrick "Rtystk" Shavers`
    "location" "San Pablo Avenue, Oakland"
    "date" "December 2020"
) }}

{{ partial "mural-modal" (dict
    "id" "aaacc"
    "src" "/img/artwork/aaacc.jpg"
    "title" "Floral Offering"
    "leadArtist" "Andre Jones"
    "location" "African American Art and Culture Complex, SF"
    "date" "December 2019"
) }}

{{ partial "mural-modal" (dict
    "id" "fairbanks"
    "src" "/img/artwork/fairbanks.jpg"
    "title" "Fairbanks Farms"
    "leadArtist" "Andre Jones"
    "location" "Fairbanks Farms, Covelo"
    "date" "December 2019"
) }}
