<div class="muralModalContainer" data-mural-name="{{.id}}">
    <div class="muralModal">
        <div class="muralModal--img"><img src="{{.src}}"></div>
        <div class="muralModal--caption">
            <h2 class="muralModal--name">{{.title}}</h2>
            <button class="muralModal--close" aria-label="Close">×</button>
            <p>
                <img class="muralModal--icon" src="/img/icons/palette.svg">
                <span class="muralModal--bold">Lead Artist</span><span class="muralModal--text">: {{.leadArtist}}</span>
            </p>
            <p>
                <img class="muralModal--icon" src="/img/icons/map-marker.svg">
                <span class="muralModal--bold">Location</span><span class="muralModal--text">: {{.location}}</span>
            </p>
            <div class="muralModal--end">
                <img class="muralModal--icon" src="/img/icons/calendar.svg">
                <span class="muralModal--bold">Date</span><span class="muralModal--text">: {{.date}}</span>
            </div>
        </div>
    </div>
</div>
