<div id="navModal" class="navModal">
    <button id="closeNavModal" class="navModal--close">×</button>
    <ul class="navModal--linkList">
        <li><a class="navModal--link" href="index">Home</a></li>
        <li><a class="navModal--link" href="artwork">Artwork</a></li>
        <li><a class="navModal--link" href="about_us">About Us</a></li>
        <li><a class="navModal--link" href="programs">Programs</a></li>
        <li><a class="navModal--link" href="events">Events</a></li>
        <li><a class="navModal--link" href="services">Services</a></li>
        <li><a class="navModal--link" href="https://thebamp.wixsite.com/website/shop">Shop</a></li>
        <li><a class="navModal--link" href="get_involved">Get Involved</a></li>
        <li><button class="btnLink btnLink-large getUpdates">Get Updates</button></li>
        <li><a class="btnLink btnLink-red btnLink-large" href="https://donorbox.org/bay-area-mural-donations">Donate</a></li>
    </ul>
</div>
