<nav class="header">

    <a class="header--linkLogo" href="index.html">
        <img class="header--logo" src="/img/logo-mini-color.svg">
    </a>

    <a class="header--link" href="artwork.html">Artwork</a>
    <a class="header--link" href="about_us.html">About Us</a>
    <a class="header--link" href="programs.html">Programs</a>
    <a class="header--link" href="events.html">Events</a>
    <a class="header--link" href="services.html">Services</a>
    <a class="header--link" href="#">Shop</a>
    <a class="header--link" href="get_involved.html">Get Involved</a>

    <button class="header--link header--link-tight"><span class="btnLink btnLink-small getUpdates">Get Updates</span></button>

    <a class="header--link header--link-tight" href="https://donorbox.org/bay-area-mural-donations"><span class="btnLink btnLink-red btnLink-small">Donate</span></a>

    <button id="hamburger" class="header--hamburger">☰</button>

</nav>
