<nav class="header">
    <a class="header--linkLogo" href="index.html">
        <img class="header--logo" src="/img/logo-mini-color.svg">
    </a>

    <a class="header--link" href="artwork">Artwork</a>
    <a class="header--link" href="about_us">About Us</a>
    <a class="header--link" href="programs">Programs</a>
    <a class="header--link" href="events">Events</a>
    <a class="header--link" href="services">Services</a>
    <a class="header--link" href="https://www.thebamp.org/shop">Shop</a>
    <a class="header--link" href="get_involved">Get Involved</a>

    <button class="header--link header--link-tight"><span class="btnLink btnLink-small getUpdates">Get Updates</span></button>

    <a class="header--link header--link-tight" href="https://donorbox.org/bay-area-mural-donations"><span class="btnLink btnLink-red btnLink-small">Donate</span></a>

    <button id="hamburger" class="header--hamburger">☰</button>
</nav>
