<div class="box box-blue" style="padding:30px 50px;text-align:left">
    <p class="u-text-medium" style="font-weight:bold;">As muralists, we seek to...</p>
    <ul class="u-text-medium u-text-2xHeight">
        <li>Use art to promote community engagement and development</li>
        <li>Help communities express themselves and find/explore the power of the visual voice</li>
        <li>Help share the unique story of each community</li>
        <li>Develop neighborhood  beautification projects and reclaim public spaces</li>
        <li>Teach a high quality process of fine-art making in the creation of a community mural</li>
    </ul>
</div>
