{{ define "main" }}

<section class="l-section">
    <div class="gridBox gridBox-col2 gridBox-col2-collapse">
        {{ partial "we-seek-to" }}
        {{ partial "map-box" }}
    </div>
</section>

<section class="l-section">
    <div class="gridBox gridBox-col3 gridBox-center">
       {{ range .Params.murals }}
           {{ partial "mural-thumbnail" . }}
       {{ end }}
    </div>
</section>

<section class="l-section">
    <div class="gridBox gridBox-col2 gridBox-col2-collapse">
        {{ partial "youtube" (dict "src" "https://www.youtube.com/embed/OaKg3WeMKrI") }}
        {{ partial "want-a-mural" }}
    </div>
</section>

<section class="l-section">
    <h2 class="sectionHeading sectionHeading-centered sectionHeading-spaced">Frequently Asked Questions</h2>
   {{ range .Params.faqs }}
       {{ partial "faq" . }}
   {{ end }}
</section>

{{ range .Params.murals }}
   {{ partial "mural-modal" . }}
{{ end }}

{{ end }}
