{{ define "main" }}

<section class="l-section">
    <div class="gridBox gridBox-col2 gridBox-col2-collapse">
        {{ partial "we-seek-to" }}
        {{ partial "map-box" }}
    </div>
</section>

{{ partial "mural-thumbnails" }}

<section class="l-section">
    <div class="gridBox gridBox-col2 gridBox-col2-collapse">
        {{ partial "youtube" (dict "src" "https://www.youtube.com/embed/OaKg3WeMKrI") }}
        {{ partial "want-a-mural" }}
    </div>
</section>

{{ partial "faqs-artwork" }}

{{ partial "mural-modals" }}

{{ end }}
