{{ define "main" }}

<section class="l-section">
    <div class="gridBox gridBox-col2 gridBox-col2-collapse">
        {{ partial "we-seek-to" }}
        {{ partial "map-box" }}
    </div>
</section>

<section class="l-section">
    <div class="gridBox gridBox-col3 gridBox-center">
        <button class="muralThumbnail box box-red" data-mural-name="blmoak">
            <div class="muralThumbnail--img"><img src="/img/artwork/thumbnails/blmoak.jpg"></div>
            <div class="muralThumbnail--caption">
                <div class="muralThumbnail--location">Downtown, Oakland</div>
                <div class="muralThumbnail--name">BLM / Oakland</div>
            </div>
        </button>
        <button class="muralThumbnail box box-blue" data-mural-name="blmsf">
            <div class="muralThumbnail--img"><img src="/img/artwork/thumbnails/blmsf.jpg"></div>
            <div class="muralThumbnail--caption">
                <div class="muralThumbnail--location">African American Art and Culture Complex, SF</div>
                <div class="muralThumbnail--name">BLM / SF</div>
            </div>
        </button>
        <button class="muralThumbnail box box-yellow" data-mural-name="nipsey">
            <div class="muralThumbnail--img"><img src="/img/artwork/thumbnails/nipsey.jpg"></div>
            <div class="muralThumbnail--caption">
                <div class="muralThumbnail--location">Grand Express Market, Oakland</div>
                <div class="muralThumbnail--name">Nipsey</div>
            </div>
        </button>
        <button class="muralThumbnail box box-yellow" data-mural-name="naomais">
            <div class="muralThumbnail--img"><img src="/img/artwork/thumbnails/naomais.png"></div>
            <div class="muralThumbnail--caption">
                <div class="muralThumbnail--location">Webster Street, Oakland</div>
                <div class="muralThumbnail--name">Nao Mais</div>
            </div>
        </button>
        <button class="muralThumbnail box box-red" data-mural-name="lodestar">
            <div class="muralThumbnail--img"><img src="/img/artwork/thumbnails/lodestar.jpg"></div>
            <div class="muralThumbnail--caption">
                <div class="muralThumbnail--location">Lodestar Public School, Oakland</div>
                <div class="muralThumbnail--name">Oakland Love the New Future</div>
            </div>
        </button>
        <button class="muralThumbnail box box-blue" data-mural-name="authoak">
            <div class="muralThumbnail--img"><img src="/img/artwork/thumbnails/authoak.png"></div>
            <div class="muralThumbnail--caption">
                <div class="muralThumbnail--location">Whole Foods Market, Oakland</div>
                <div class="muralThumbnail--name">Authentically Oakland</div>
            </div>
        </button>
        <button class="muralThumbnail box box-blue" data-mural-name="gateway">
            <div class="muralThumbnail--img"><img src="/img/artwork/thumbnails/gateway.jpg"></div>
            <div class="muralThumbnail--caption">
                <div class="muralThumbnail--location">Georgia Street, Vallejo</div>
                <div class="muralThumbnail--name">Gateway to Vallejo</div>
            </div>
        </button>
        <button class="muralThumbnail box box-yellow" data-mural-name="kapor">
            <div class="muralThumbnail--img"><img src="/img/artwork/thumbnails/kapor.jpg"></div>
            <div class="muralThumbnail--caption">
                <div class="muralThumbnail--location">Kapor Center, Oakland</div>
                <div class="muralThumbnail--name">Justice for My Ancestors</div>
            </div>
        </button>
        <button class="muralThumbnail box box-red" data-mural-name="farmacy">
            <div class="muralThumbnail--img"><img src="/img/artwork/thumbnails/digdeep.jpg"></div>
            <div class="muralThumbnail--caption">
                <div class="muralThumbnail--location">Dig Deep Farm, Oakland</div>
                <div class="muralThumbnail--name">The Farmacy</div>
            </div>
        </button>
        <button class="muralThumbnail box box-red" data-mural-name="ahome">
            <div class="muralThumbnail--img"><img src="/img/artwork/thumbnails/ahome.jpg"></div>
            <div class="muralThumbnail--caption">
                <div class="muralThumbnail--location">Chestnut Street, Oakland</div>
                <div class="muralThumbnail--name">Everyone Deserves a Home</div>
            </div>
        </button>
        <button class="muralThumbnail box box-blue" data-mural-name="seer">
            <div class="muralThumbnail--img"><img src="/img/artwork/thumbnails/seer.jpg"></div>
            <div class="muralThumbnail--caption">
                <div class="muralThumbnail--location">7th Street, Oakland</div>
                <div class="muralThumbnail--name">The Seer</div>
            </div>
        </button>
        <button class="muralThumbnail box box-yellow" data-mural-name="literacy">
            <div class="muralThumbnail--img"><img src="/img/artwork/thumbnails/literacy.jpg"></div>
            <div class="muralThumbnail--caption">
                <div class="muralThumbnail--location">MLK Elementary School, Oakland</div>
                <div class="muralThumbnail--name">Literacy Is the Key to Life</div>
            </div>
        </button>
        <button class="muralThumbnail box box-yellow" data-mural-name="fillmore">
            <div class="muralThumbnail--img"><img src="/img/artwork/thumbnails/fillmore.jpg"></div>
            <div class="muralThumbnail--caption">
                <div class="muralThumbnail--location">Rosa Parks Center, SF</div>
                <div class="muralThumbnail--name">Spirit of the Fillmore</div>
            </div>
        </button>
        <button class="muralThumbnail box box-red" data-mural-name="rooted">
            <div class="muralThumbnail--img"><img src="/img/artwork/thumbnails/rooted.jpg"></div>
            <div class="muralThumbnail--caption">
                <div class="muralThumbnail--location">Coliseum Way, Oakland</div>
                <div class="muralThumbnail--name">Rooted in Oakland</div>
            </div>
        </button>
        <button class="muralThumbnail box box-blue" data-mural-name="indigenized">
            <div class="muralThumbnail--img"><img src="/img/artwork/thumbnails/indigenized.jpg"></div>
            <div class="muralThumbnail--caption">
                <div class="muralThumbnail--location">Standing Rock Reservation, ND</div>
                <div class="muralThumbnail--name">Indigenized Energy</div>
            </div>
        </button>
        <button class="muralThumbnail box box-blue" data-mural-name="bethepower">
            <div class="muralThumbnail--img"><img src="/img/artwork/thumbnails/bethepower.jpg"></div>
            <div class="muralThumbnail--caption">
                <div class="muralThumbnail--location">East Oakland Youth Development Center</div>
                <div class="muralThumbnail--name">Be the Power</div>
            </div>
        </button>
        <button class="muralThumbnail box box-yellow" data-mural-name="youthemp">
            <div class="muralThumbnail--img"><img src="/img/artwork/thumbnails/youthemp.jpg"></div>
            <div class="muralThumbnail--caption">
                <div class="muralThumbnail--location">22nd & Broadway, Oakland</div>
                <div class="muralThumbnail--name">Youth Empowerment</div>
            </div>
        </button>
        <button class="muralThumbnail box box-red" data-mural-name="headup">
            <div class="muralThumbnail--img"><img src="/img/artwork/thumbnails/headup.jpg"></div>
            <div class="muralThumbnail--caption">
                <div class="muralThumbnail--location">19th & Broadway, Oakland</div>
                <div class="muralThumbnail--name">Keep Your Head Up / <span class="u-nowrap">Woman in Water</span></div>
            </div>
        </button>
        <button class="muralThumbnail box box-red" data-mural-name="sph">
            <div class="muralThumbnail--img"><img src="/img/artwork/thumbnails/sph.jpg"></div>
            <div class="muralThumbnail--caption">
                <div class="muralThumbnail--location">San Pablo Avenue, Oakland</div>
                <div class="muralThumbnail--name">San Pablo Hotel</div>
            </div>
        </button>
        <button class="muralThumbnail box box-blue" data-mural-name="aaacc">
            <div class="muralThumbnail--img"><img src="/img/artwork/thumbnails/aaacc.jpg"></div>
            <div class="muralThumbnail--caption">
                <div class="muralThumbnail--location">African American Art and Culture Complex, SF</div>
                <div class="muralThumbnail--name">Floral Offering</div>
            </div>
        </button>
        <button class="muralThumbnail box box-yellow" data-mural-name="fairbanks">
            <div class="muralThumbnail--img"><img src="/img/artwork/thumbnails/fairbanks.jpg"></div>
            <div class="muralThumbnail--caption">
                <div class="muralThumbnail--location">Fairbanks Farms, Covelo</div>
                <div class="muralThumbnail--name">Fairbanks Farms</div>
            </div>
        </button>
    </div>
</section>

<section class="l-section">
    <div class="gridBox gridBox-col2 gridBox-col2-collapse">
        {{ partial "youtube" (dict "src" "https://www.youtube.com/embed/OaKg3WeMKrI") }}
        {{ partial "want-a-mural" }}
    </div>
</section>

{{ partial "faqs-artwork" }}

{{ partial "mural-modals" }}

{{ end }}
