{{ define "main" }}

<section class="l-section l-center">
    <h2 class="sectionHeading sectionHeading-spaced">Events</h2>
</section>

<section class="l-section">
    <div class="box box-red" style="margin-bottom: 0;">
        <div class="infoCard">
            <div class="infoCard--caption">
                <p class="infoCard--title">Classes</p>
                <p class="infoCard--text">Due to concerns over the outbreak of coronavirus (COVID-19) we have decided to postpone our in-person events and classes. Sign up for our email list to stay up to date with BAMP.</p>
                <a class="btnLink getUpdates">Get Updates</a>
            </div>
        </div>
    </div>
</section>

<section class="l-section l-center">
    <div class="calendarBox box box-blue">
        <iframe
          src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FLos_Angeles&src=aWQ5ZmozZ2NnZzZsaGhhb2hxbGk3YTkxamNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%238E24AA&showTitle=1&showNav=0&showDate=0&showPrint=0&showTabs=0&showTz=0&showCalendars=1"
          width="100%" height="600" frameborder="0" scrolling="no">
        </iframe>
    </div>
</section>

<section class="l-section">
    <div class="gridBox gridBox-col2 gridBox-col2-collapse gridBox-center">
        {{ range .Params.events }}
            {{ partial "event" . }}
        {{ end }}
    </div>
</section>

{{ end }}
