{{ define "main" }}

    {{ partial "homepage-header" (dict "items" .Params.carousel) }}

    {{ partial "text-with-heading" (dict
        "heading" "Bay Area Mural Program"
        "text" "BAMP is a nonprofit organization of local artists dedicated to facilitating and creating public art.  Our vision is to turn bare, blighted walls into artistic gateways into the community's surrounding environment."
    ) }}

    {{ partial "metrics" }}

    {{ partial "featured" (dict
        "title" "Plywood Murals"
        "img" "/img/homepage/plywood-mural-1.jpeg"
        "text" "In the wake of George Floyds death, the BAMP and other art organizations have taken to Downtown Oakland, Chinatown to paint plywood boards on storefronts.  The boarded up storefronts serve as great canvases to express the need for social change. BAMP hopes that the social justice artwork can be a way to inform, heal, and remind the community of the ongoing current events."
        "linkTarget" "events.html"
        "linkText" "Events"
    ) }}

    {{ partial "testimonials" }}

    {{ partial "clients-and-partners" }}

    {{ partial "instagram-feed" }}

{{ end }}
