{{ define "main" }}

    {{ partial "homepage-header" (dict "items" .Params.carousel) }}

    <section class="l-section">
        <h1 class="sectionHeading sectionHeading-centered sectionHeading-spaced">{{ .Params.heading }}</h1>
        <p class="l-section--text">{{ .Params.text }}</p>
    </section>

    <section class="l-section">
        <div class="gridBox gridBox-col4 gridBox-col4-collapse gridBox-center">
            {{ range .Params.metrics }}
                {{ partial "metric" . }}
            {{ end }}
        </div>
    </section>

    {{ partial "featured" (dict
        "title" "Plywood Murals"
        "img" "/img/homepage/plywood-mural-1.jpeg"
        "text" "In the wake of George Floyds death, the BAMP and other art organizations have taken to Downtown Oakland, Chinatown to paint plywood boards on storefronts.  The boarded up storefronts serve as great canvases to express the need for social change. BAMP hopes that the social justice artwork can be a way to inform, heal, and remind the community of the ongoing current events."
        "linkTarget" "events.html"
        "linkText" "Events"
    ) }}

    {{ partial "testimonials" }}

    <section class="l-section">
        <h2 class="sectionHeading sectionHeading-centered sectionHeading-spaced">Clients and Partners</h2>
        <div class="scrollCarousel">
            <div class="scrollCarousel--contents">
                {{ range .Params.partners }}
                    <a href="{{ .linkUrl }}"><img src="{{ .imageUrl }} "></a>
                {{ end }}
            </div>
        </div>
    </section>

    {{ partial "instagram-feed" }}

{{ end }}
