.metric {
    text-align: center;
}

.metric--photo {
    display: block;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.metric--photo > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.metric--stats {
    margin: 20px 0 0;
    font-family: "Libre Franklin", sans-serif;
    font-weight: 700;
    color: var(--dark-blue);
    font-size: 48px;
}

.metric--text {
    margin: 0;
    font-size: 25px;
}

@media only screen and (max-width: 700px) {
    .metric--photo {
        width: 150px;
        height: 150px;
    }

    .metric--text {
        font-size: 17px;
    }

    .metric--stats {
        font-size: 36px;
    }
}
